<div class="feature" markdown="1">
  
  <h3>Can I get VA health care coverage?</h3>
  <p>You may be able to get VA health care if you served on active duty and separated under conditions other than dishonorable.</p>
  <p>You probably qualify for VA health care if at least 1 of these applies to you:</p>
  
  {{> atoms-unordered-list }}
  
  <p>If none of the above apply to you, you may still qualify for care based on your income. Learn more about how the amount of money your family makes can affect whether you qualify for VA benefits. <a href="http://nationalincomelimits.vaftl.us/">Learn more about income limits</a>.</p>
  <p>If you separated under a dishonorable discharge, visit healthcare.gov to find out if you qualify for health insurance. <a href="https://www.healthcare.gov/">Go to healthcare.gov</a>.</p>
  
</div>