ul {
  padding: 0 0 0 1.5em;
  list-style: square;
}

ol {
  margin: 0 0 0 1.25em;
  list-style-position: outside;
}

ul, ol {
  > ul, ol {
    margin: .5em 0 .5em 1.2em;
  }
}

// Definition lists
dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 1.5em;
}