<div class="va-pagination">
  <div class="va-pagination-inner">
    <a class="va-pagination-prev">
      <abbr title="Previous">Prev</abbr>
    </a>
    <a>1</a>
    <a class="va-pagination-active">2</a>
    <a>3</a>
    <a class="va-pagination-next">
      Next
    </a>
  </div>
</div>
