<h3>Sample Process List</h3>
<p>
  This is a example of how a process list should be used.
</p>
<h4>Before enrolling at your foreign school:</h4>
<ol class="process">
  <li class="step one">
    <h5>Contact the school</h5>
    <p>Contact the school or <a href=
    "http://www.benefits.va.gov/gibill/ext_redirect.asp?url=https://gibill.custhelp.com/app/ask/">
    Submit a Question</a> to learn if VA approves your program for benefits.
    Provide the name of the foreign school, the complete address, and the
    name of the program you intend to pursue. VA will let you know whether
    your program has already been approved. Allow for extra time if you are
    applying to a program that VA has not yet approved.</p>
    <h6>What if the VA Needs more information?</h6>
    <ul>
      <li>The type of claim you filed, such as compensation, claim for increased evaluation, etc.</li>
      <li>How many injuries or disabilities you claimed, how complicated they are.
      </li>
    </ul>
    <h6>Do I need to do anything while I'm waiting?</h6>
    <p>
      Other than attend scheduled examinations, you don't need to do anything else unless VA sends you a letter saying it needs more information.
    </p>
  </li>
  <li class="step two last">
    <h5>Make arrangements</h5>
    <p>Make arrangements with the school for acceptance, enrollment, payment
    of tuition and fees, and living accommodations.</p>
  </li>
</ol>
