<div class="call-out">
  <h3>Are you eligible for compensation?</h3>
  <p>Yes, if:</p>
  <ul>
    <li>You have a current physical or mental disability.</li>
    <li>You became ill or were injured while serving in the military, and you
    are able to link your current disability to this illness or injury.</li>
    <li>You had a disability before you entered the military, and activities,
    injury, or illness during your service made your condition worse.</li>
  </ul>
  <h3>Who is covered</h3>
  <p>You and your dependents</p>
</div>
