<legend class="usa-sr-only">Do you receive a VA pension?</legend>
<p>
  Do you receive a VA pension?
</p>
<ul class="usa-unstyled-list">
  <li>
    <input id="yes" type="radio" checked name="historical-figures-2" value="yes">
    {{> atoms/forms/04-field-label(label: "Yes") }}
  </li>
  <li>
    <input id="no" type="radio" name="historical-figures-2" value="no">
    {{> atoms/forms/04-field-label(label: "No") }}
  </li>
</ul>
