<nav class="va-nav-breadcrumbs">
  <ul aria-label="Primary" class="row va-nav-breadcrumbs-list" role=
  "menubar">
    <li>
      {{> atoms/content/04-internal-link(linkText: "Home") }}
    </li>
    <li>
      {{> atoms/content/04-internal-link(linkText: "Healthcare") }}
    </li>
    <li class="active">Apply for VA Health Care</li>
  </ul>
</nav>
