<form class="usa-form-large">
  <fieldset>
    <legend>Sample Form</legend>
    {{> atoms/forms/02_text_field_error }}

    <div>
      <div class="usa-input-grid usa-input-grid-medium">
        {{> molecules/forms/04_text_field_with_label }}
      </div>

      <div class="usa-input-grid usa-input-grid-small">
        <label for="state">State</label>
        {{> atoms/forms/05_dropdown }}
      </div>

      {{> atoms/buttons/01_default_button }}
    </div>
  </fieldset>
</form>
