<div class="columns medium-4">
  <div class="columns small-12">
    <p>
      Date of birth <span style="color: #981b1e;">*</span>
    </p>
  </div>
  <div class="columns small-4">
    {{> atoms/forms/04_field_label(label: "Month") }}
    {{> atoms/forms/05_dropdown }}
  </div>
  <div class="columns small-4">
    {{> atoms/forms/04_field_label(label: "Day") }}
    {{> atoms/forms/05_dropdown }}
  </div>
  <div class="columns small-4">
    {{> atoms/forms/04_field_label(label: "Year") }}
    {{> atoms/forms/05_dropdown }}
  </div>
</div>
