/*
 * YOUR STYLES HERE
 */

@import 'no-react.css';
@import 'pagination.css';

body {
  background: white;
  color: #323a45;
}

label {
  margin-top: 0;
}

.usa-unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
