<li class="va-card">
  <a href="/employment/" class="va-card-body">
    <h3 class="va-card-title">Careers and Employment</h3>
    <span>Get help building your career skills and finding a job.</span>
  </a>
</li>