<div class="fr-color-box-group">
  
  {{#each color}}
  
  {{ name }}
  <div class="fr-color-box theme-{{ name }}">
    <div class="fr-color-box__color"></div>
    <div class="fr-color-box__context">
      <p class="fr-color-box__color-code">{{ hex }}</p>
      <p class="fr-color-box__color-name">{{ name }}</p>
    </div>
  </div>
  
  {{/each}}
</div>