<ul class="va-cards va-cards--2across">
  <li class="va-card">
    <a class="va-card-body" href="#">
    <h3 class="va-card-title">GI Bill®</h3><span>Since 1944, millions of
    Veterans have used the GI Bill to pay for college.</span></a>
  </li>
  <li class="va-card">
    <a class="va-card-body" href="#">
    <h3 class="va-card-title">Career Counseling</h3><span>VA can help you
    chart your course.</span></a>
  </li>
  <li class="va-card">
    <a class="va-card-body" href="#">
    <h3 class="va-card-title">Advanced Training and
    Certifications</h3><span>You can use the GI Bill for more than just
    academic programs.</span></a>
  </li>
  <li class="va-card">
    <a class="va-card-body" href="#">
    <h3 class="va-card-title">GI Bill Comparison Tool</h3><span>Compare
    estimated benefits by school.</span></a>
  </li>
</ul>
