<form class="usa-form-large">
  <fieldset>
    <legend>Sample Form</legend>
    {{> atoms/inputs/02-text-field-error }}

    <div>
      <div class="usa-input-grid usa-input-grid-medium">
        {{> molecules/forms/04-text-field-with-label }}
      </div>

      <div class="usa-input-grid usa-input-grid-small">
        <label for="state">State</label>
        {{> atoms/inputs/05-dropdown }}
      </div>

      {{> atoms/buttons/01-default-button }}
    </div>
  </fieldset>
</form>
