<div class="medium-4 columns">
  <ol class="process hca-process">
    <li class="one step one section-complete" role=
    "presentation">
      <div>
        <h5>Veteran Information</h5>
        <ul class="usa-unstyled-list">
          <li class="">Personal Information</li>
          <li class="">Birth Information</li>
          <li class="">Demographic Information</li>
          <li class="">Address</li>
          <li class="">Contact Information</li>
        </ul>
      </div>
    </li>
    <li class="two step one section-current" role=
    "presentation">
      <div>
        <h5>Military Service</h5>
        <ul class="usa-unstyled-list">
          <li class=" sub-section-current">Basic Information</li>
          <li class="">Service History</li>
        </ul>
      </div>
    </li>
    <li class="three step one" role="presentation">
      <div>
        <h5>VA Benefits</h5>
        <ul class="usa-unstyled-list">
          <li class="">Basic Information</li>
        </ul>
      </div>
    </li>
    <li class="four step one" role="presentation">
      <div>
        <h5>Household Information</h5>
        <ul class="usa-unstyled-list">
          <li class="">Financial Disclosure</li>
          <li class="">Spouse</li>
          <li class="">Children</li>
          <li class="">Annual Income</li>
          <li class="">Deductible Expenses</li>
        </ul>
      </div>
    </li>
    <li class="five step one" role="presentation">
      <div>
        <h5>Insurance Information</h5>
        <ul class="usa-unstyled-list">
          <li class="">Medicare/Medicaid</li>
          <li class="">General Insurance</li>
          <li class="">VA Medical Facility</li>
        </ul>
      </div>
    </li>
    <li class="six last step one" role="presentation">
      <div>
        <h5>Review</h5>
      </div>
    </li>
  </ol>
</div>
