
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../../js/scripts.js?{{ cacheBuster }}"></script>
  </body>
</html>
